.footer-background {
    position: relative;
    background-image: url('/public/images/footer-img.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 75vh;
  }
  
  .footer-container {
    width: 80%;
    height: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.9);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  }
  
  .section-1 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
  }
  
  .footer-links {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .footer-link-items {
    flex: 1;
  }
  
  .footer-link-items h3 {
    font-size: 18px;
    color: #333; /* Added color */
  }
  
  .footer-link-items a {
    color: #666; /* Changed link color */
    text-decoration: none;
    line-height: 1.5;
  }
  
  .footer-link-items a:hover {
    color: #444; /* Changed link hover color */
  }
  
  .social-media-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1000px;
    margin: 40px auto 0 auto;
  }
  
  .social-media-wrap small {
    font-size: 14px;
    color: #666; /* Added color */
  }
  
  .social-icons a {
    color: #666; /* Changed icon color */
    font-size: 24px;
    margin-right: 10px;
  }
  
  .social-icons a:hover {
    color: #444; /* Changed icon hover color */
  }
  