.footer-background {
    position: relative;
    background-image: url('/public/images/footer-img.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
  }
  
  .footer-container {
    width: 80%;
    height: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.9);
    padding: 40px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  }
  
  .section-1 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 50px;
  }

  .section-1 p{
    padding-top: 15px;
    font-size: 15.5px;
    text-align: justify;
  }

  .section-1 .input-areas{
    padding-top: 20px;
  }
  
.section-1 .input-areas input{
    font-size: 15px;
    background-color: transparent;
    border: 1px solid var(--primary);
    color: #000;
    padding: 8px 20px;
    transition: all 0.3s ease-out;
    margin-right: 15px;
}


  .footer-links {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .footer-link-items {
    flex: 1;
  }

  .footer-link-items h3{
    padding-bottom: 15px;
  }
  
  
  .footer-link-items a {
    color: #666; 
    text-decoration: none;
    line-height: 1.5;
  }
  
  .footer-link-items a:hover {
    color: #000; 
  }
  
.social-logo{
    color: black;
    cursor: pointer; 
    text-decoration: none;   
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
}

.social-logo:hover{
    color: #444;
}

  .social-media-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1000px;
    margin: 40px auto 0 auto;
  }
  
  .social-media-wrap small {
    font-size: 14px;
    color: #000; 
  }
  
  .social-icons a {
    color: #000; 
    font-size: 20px;
    margin-right: 10px;
  }
  
  .social-icons a:hover {
    color: #444; 
  }
  